version: "3.9"

services:
  mysql:
    build:
      context: ./docker/mysql
      dockerfile: Dockerfile
    container_name: study_index_mysql
    ports:
      - "3307:3306" # host:container
    environment:
      MYSQL_DATABASE: study_index
      MYSQL_USER: study_index_user
      MYSQL_PASSWORD: study_index_pass
      MYSQL_ROOT_PASSWORD: root_password
    volumes:
      - mysql_data:/var/lib/mysql
    restart: unless-stopped

volumes:
  mysql_data:
